<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 425.6799927 182.2400055" enable-background="new 0 0 425.6799927 182.2400055" xml:space="preserve"
   role="img">

<!-- Butterfly motion path -->
<g
  id="butterfly-motion-path"
  style="
    animation-play-state: var(--animation-play-state, paused);
    animation-name: butterfly-motion-path;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(.1,0,.9,1);
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-delay: 0s;
    /*
    transition-property: clip-path;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(.1,0,.9,1);
    clip-path: polygon(var(--clip-size, 101%) -1%, 101% -1%, 100% 101%, var(--clip-size, 101%) 101%);
    */
  "
>
  <path fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-miterlimit="10" d="M113.5000076,34.5000153
    c0.0665283,0.0465698,0.1338501,0.0934143,0.2019653,0.1405945"/>
  <path fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="0.4991147,1.9964586" d="
    M115.3619461,35.746109C126.6565018,43.0063019,152.9316406,55.1551056,175.5,52.5000153c34-4,41-35,67-37
    c25.6342163-1.9718628,53.2724609,17.0908203,68,22c14.4793701,4.8264465,24.2998047-5.2557068,35.7574463-6.8608398"/>
  <path fill="none" stroke="#FFFFFF" stroke-linecap="round" stroke-miterlimit="10" d="M347.2519531,30.52211
    c0.0825806-0.007843,0.1652832-0.0151978,0.2480469-0.0220947"/>
</g>


<style>
  @keyframes butterfly-motion-path {
    0% {
      --clip-size: 101%;
      clip-path: polygon(var(--clip-size, 101%) -1%, 101% -1%, 100% 101%, var(--clip-size, 101%) 101%);
    }
    10% {
      --clip-size: 90%;
      clip-path: polygon(var(--clip-size, 101%) -1%, 101% -1%, 100% 101%, var(--clip-size, 101%) 101%);
    }
    20% {
      --clip-size: 80%;
      clip-path: polygon(var(--clip-size, 101%) -1%, 101% -1%, 100% 101%, var(--clip-size, 101%) 101%);
    }
    30% {
      --clip-size: 70%;
      clip-path: polygon(var(--clip-size, 101%) -1%, 101% -1%, 100% 101%, var(--clip-size, 101%) 101%);
    }
    40% {
      --clip-size: 60%;
      clip-path: polygon(var(--clip-size, 101%) -1%, 101% -1%, 100% 101%, var(--clip-size, 101%) 101%);
    }
    50% {
      --clip-size: 50%;
      clip-path: polygon(var(--clip-size, 101%) -1%, 101% -1%, 100% 101%, var(--clip-size, 101%) 101%);
    }
    60% {
      --clip-size: 40%;
      clip-path: polygon(var(--clip-size, 101%) -1%, 101% -1%, 100% 101%, var(--clip-size, 101%) 101%);
    }
    70% {
      --clip-size: 30%;
      clip-path: polygon(var(--clip-size, 101%) -1%, 101% -1%, 100% 101%, var(--clip-size, 101%) 101%);
    }
    80% {
      --clip-size: 20%;
      clip-path: polygon(var(--clip-size, 101%) -1%, 101% -1%, 100% 101%, var(--clip-size, 101%) 101%);
    }
    90% {
      --clip-size: 10%;
      clip-path: polygon(var(--clip-size, 101%) -1%, 101% -1%, 100% 101%, var(--clip-size, 101%) 101%);
    }
    100% {
      --clip-size: -1%;
      clip-path: polygon(var(--clip-size, 101%) -1%, 101% -1%, 100% 101%, var(--clip-size, 101%) 101%);
    }
  }
</style>


</svg>
