{% if site.phase == site.NEW_CHALLENGE_ANNOUNCED %}

      <p>
       Submissions open on {% include translate-date.html date=site.ENTRIES_BEING_ACCEPTED_DATE format="%B %-d, %Y" %}.
        <span class="avoid-break"><a href="/submit/">Read the guidelines</a> and sign up for a virtual <a href="{{ site.office_hours_url }}">information session</a>.</span>
      </p>
      <p class="action">
        <a href="{{ site.office_hours_url }}">Learn more</a>
      </p>

{% elsif site.phase == site.ENTRIES_BEING_ACCEPTED %}

      <p>
      Don't miss out! 
       <span class="avoid-break"> Submissions are open now through {% include translate-date.html date=site.ENTRY_PERIOD_ENDED_DATE format="%B %-d, %Y" %}.</span>
      </p>

      <p class="action">
        <a href="{{ site.submission_url }}">Apply now</a>
      </p>

{% elsif site.phase == site.ENTRY_PERIOD_ENDED %}

      <p>
        The submission period is complete.
        <span class="avoid-break">All proposals will be showcased here by <strong>{% include translate-date.html date=site.ENTRIES_SHOWN_ON_THE_WEBSITE_DATE format="%A, %B %-d, %Y" %}</strong>.</span>
      </p>
      <p class="action">
        <a href="{{ site.mailing_list_url }}">{% include translate.html text="Get updates" %}</a>
      </p>

{% elsif site.phase == site.ENTRIES_SHOWN_ON_THE_WEBSITE %}

      <p>
        The proposals are here!
        <span class="avoid-break">
          Finalists will be announced on 
          <span class="avoid-break">
            <strong>{% include translate-date.html date=site.FINALISTS_ANNOUNCED_DATE format="%A, %B %-d, %Y" %}</strong>.
          </span>
        </span>
      </p>
      
      <p class="action">
        <a href="/entries/">Check out the proposals!</a>
      </p>

{% elsif site.phase == site.FINALISTS_ANNOUNCED %}

    <p>
      {% include translate.html text="The finalists have been announced!" %}
      <span class="avoid-break">
        {% if site.voting_postponed == true %}
          <a href="/vote/#postponed">Public voting has been postponed</a>
          until
        {% else %}
          <a href="/vote/">{% include translate.html text="Public voting" %}</a>
          {% include translate.html text="begins on" %}
        {% endif %}
        <span class="avoid-break">
          <strong>
            {% include translate-date.html date=site.VOTES_BEING_ACCEPTED_DATE format="%A, %B %-d, %Y" %}
          </strong>.
        </span>
      </span>
    </p>

    <p class="action">
      <a href="/finalists/">{% include translate.html text="Check out the finalists!" %}</a>
    </p>

{% elsif site.phase == site.VOTES_BEING_ACCEPTED %}
      <p>
        {% include translate.html text="We’re ready for you to" %}
        <a href="/vote/">{% include translate.html text="cast your votes" %}</a>! 
        <span class="avoid-break">
          {% include translate.html text="Vote by" %}
          {% include translate-date.html date=site.VOTING_PERIOD_ENDED_DATE format="%A, %B %-d, %Y" %}.
        </span>
      </p>

      {% if page.layout == "project" and page.category %}
      <p class="action action--short-text">
        <a href="/vote/form/?{{ page.category }}={{ page.organization_name | url_encode }}">{% include translate.html text="I’m ready to vote" %}</a>
      </p>
      {% else %}
      <p class="action action--short-text">
        <a href="/vote/form/">{% include translate.html text="I’m ready to vote" %}</a>
      </p>
      {% endif %}

{% elsif site.phase == site.VOTING_PERIOD_ENDED %}

      <p>
        {% include translate.html text="Public voting is complete" %}.
        <span class="avoid-break">
          {% include translate.html text="Winners will be announced on" %}
          <span class="avoid-break">
            <strong>{% include translate-date.html date=site.WINNERS_ANNOUNCED_DATE format="%A, %B %-d, %Y" %}</strong>.
          </span>
        </span>
      </p>
      <p class="action action--short-text">
        <a href="{{ site.mailing_list_url }}">{% include translate.html text="Get updates" %}</a>

{% elsif site.phase == site.WINNERS_ANNOUNCED %}

      <p>
        {% include translate.html text="You are viewing the 2021 Grants Challenge site. The 2022 Grants Challenge arrives April 2022" %}.
        {% include translate.html text="Stay tuned!" %}
      </p>
 <p class="action">
        <a href="https://la2050.us6.list-manage.com/subscribe?u=81b6d7b4efb839b992bf7ae72&id=b16f498212">Stay tuned!</a>
      </p>

{% endif %}

