{% if site.phase == site.NEW_CHALLENGE_ANNOUNCED %}

      <p>
        Submissions open on {{ site.ENTRIES_BEING_ACCEPTED_DATE | date: "%B %-d, %Y" }}.<br />
        <span class="avoid-break"><a href="/submit/">Read the guidelines</a> and sign up for one of our upcoming <a href="{{ site.office_hours_url }}">office hours</a> webinars.</span>
      </p>
      <p class="action">
        <a href="{{ site.office_hours_url }}">Sign up</a>
      </p>

{% elsif site.phase == site.ENTRIES_BEING_ACCEPTED %}

      <p>
        Apply today! Submissions are open now through {{ site.ENTRY_PERIOD_ENDED_DATE | date: "%B %-d, %Y" }}.<br />
        <span class="avoid-break"><a href="/submit/">Read the guidelines</a> and sign up for our <a href="{{ site.office_hours_url }}">office hours</a> webinar on February 13.</span>
      </p>
      <p class="action">
        <a href="{{ site.submission_url }}">Submit your idea</a>
      </p>

{% elsif site.phase == site.ENTRY_PERIOD_ENDED %}

      <p>
        The submission period is complete.
        <span class="avoid-break">All entries will be showcased here by <strong>{{ site.ENTRIES_SHOWN_ON_THE_WEBSITE_DATE | date: "%A, %B %-d, %Y" }}</strong>.</span>
      </p>
      <p class="action">
        <a href="{{ site.mailing_list_url }}">Get updates</a>
      </p>

{% elsif site.phase == site.ENTRIES_SHOWN_ON_THE_WEBSITE %}

      <p>
        The entries have arrived!
        <span class="avoid-break">
          Finalists will be announced on 
          <span class="avoid-break">
            <strong>{{ site.FINALISTS_ANNOUNCED_DATE | date: "%A, %B %-d, %Y" }}</strong>.
          </span>
        </span>
      </p>
      
      <p class="action">
        <a href="/entries/">Check out the entries!</a>
      </p>
    </p>

{% elsif site.phase == site.FINALISTS_ANNOUNCED %}

    <p>
      The finalists have been announced!
      <span class="avoid-break">
        <a href="/vote/">Public voting</a> begins on
        <span class="avoid-break">
          <strong>{{ site.VOTES_BEING_ACCEPTED_DATE | date: "%A, %B %-d, %Y" }}</strong>.
        </span>
      </span>
    </p>
    <p class="action">
      <a href="/finalists/">Check out the finalists!</a>
    </p>

{% elsif site.phase == site.VOTES_BEING_ACCEPTED %}
      <p>
        <a href="/vote/">Public voting</a> is open! 
        <span class="avoid-break">Vote by {{ site.VOTING_PERIOD_ENDED_DATE | date: "%A, %B %-d, %Y" }}.</span>
      </p>

      {% if page.layout == "project" and page.category %}
      <p class="action">
        <a href="/vote/form/?{{ page.category }}={{ page.organization_name | url_encode }}">I’m ready to vote</a>
      </p>
      {% else %}
      <p class="action">
        <a href="/vote/form/">I’m ready to vote</a>
      </p>
      {% endif %}

{% elsif site.phase == site.VOTING_PERIOD_ENDED %}

      <p>
        Public voting is complete.
        <span class="avoid-break">
          Winners will be announced on 
          <span class="avoid-break">
            <strong>{{ site.WINNERS_ANNOUNCED_DATE | date: "%A, %B %-d, %Y" }}</strong>.
          </span>
        </span>
      </p>
      <p class="action">
        <a href="{{ site.mailing_list_url }}">Get updates</a>

{% elsif site.phase == site.WINNERS_ANNOUNCED %}

      <p>
        The winners have been announced.
        Thank you to everyone who participated!
      </p>
      <p class="action">
        <a href="/winners/">Check out the winners!</a>
      </p>

      <!--
      <p>
        The 2019 Grants Challenge is part of the greater <a href="https://la2050.org/">LA2050 initiative</a>.
        <span class="avoid-break" data-characters="45">We’re working to move Los Angeles <span class="avoid-break">toward <a href="https://la2050.org/#learnmore">five goals</a>.</span></span>
      </p>
      -->

{% endif %}

