<p>
  {% if site.language == "es" %}
    El My LA2050 Grants Challenge es parte de la mayor iniciativa LA2050. Estamos trabajando para mover Los Ángeles hacía cinco objetivos.
  {% else %}
    The 2021 Grants Challenge is part of the greater <a href="https://la2050.org/">LA2050 initiative</a>.
    <span class="avoid-break" data-characters="45">
      We’re working to move Los Angeles
      <span class="avoid-break">toward <a href="https://la2050.org/metrics">five goals</a>.</span>
    </span>
  {% endif %}
</p>
