

{% if site.phase == 2 %}
**![](/assets/images/timeline/strawberry/light.svg) Submission Period**
: **February 3 - <span class="avoid-break">March 27, 2020</span>**
{% else %}
![](/assets/images/timeline/strawberry/light.svg) Submission Period
: February 3 - <span class="avoid-break">March 27, 2020</span>
{% endif %}

{% if site.phase == 3 %}
**![](/assets/images/timeline/strawberry/checkmark.svg) Moderation Period**
: **<mark>March 27 - <span class="avoid-break">April 6, 2020</span></mark>**
{% else %}
![](/assets/images/timeline/strawberry/checkmark.svg) Moderation Period
: <mark>March 27 - <span class="avoid-break">April 6, 2020</span></mark>
{% endif %}


{% if site.phase == 4 %}
![](/assets/images/timeline/strawberry/clipboard.svg) Evaluation Period
: <mark>April 6 - <span class="avoid-break">May 17, 2020</span></mark>
{% else %}
![](/assets/images/timeline/strawberry/clipboard.svg) Evaluation Period
: <mark>April 6 - <span class="avoid-break">May 17, 2020</span></mark>
{% endif %}


{% if site.phase == 5 %}
**![](/assets/images/timeline/strawberry/speaker.svg) Finalists Announced**
: **<mark>May 18, 2020</mark>**
{% else %}
![](/assets/images/timeline/strawberry/speaker.svg) Finalists Announced
: <mark>May 18, 2020</mark>
{% endif %}


{% if site.phase == 6 %}
**![](/assets/images/timeline/strawberry/vote.svg) Public Voting**
: **June 1 - <span class="avoid-break">June 8, 2020</span>**
{% else %}
![](/assets/images/timeline/strawberry/vote.svg) Public Voting
: June 1 - <span class="avoid-break">June 8, 2020</span>
{% endif %}


{% if site.phase == 8 %}
**![](/assets/images/timeline/strawberry/ribbon.svg) Winners Announced**
: **<mark>June 15, 2020</mark>**
{% else %}
![](/assets/images/timeline/strawberry/ribbon.svg) Winners Announced
: <mark>June 15, 2020</mark>
{% endif %}





