
<form name="vote_survey" action="/vote/confirmation-survey/" method="post" data-netlify="true">

  <p>
    <label>
      How did you first find out about the My LA2050 Grants Challenge?<br />
      <select name="how_you_found_la2050">
        <option value="">Select</option>
        <option value="">-----------------</option>
        <option>LA2050 Newsletter</option>
        <option>Community group or organization</option>
        <option>Friends or family</option>
        <option>Professional network</option>
        <option>Social media</option>
        <option>News outlet</option>
        <option>Advertisements</option>
        <option>Events</option>
        <option value="Other">Other (please describe)</option>
      </select>
    </label>
    <br />
    <br />
    <label>
      Other <small>(please describe)</small><br />
      <input type="text" name="how_you_found_la2050_other" />
    </label>
  </p>

  <p>
    <label>
      What would you most like to hear about from LA2050?<br />
      <input type="text" name="what_you_want_from_la2050_other" />
    </label>
  </p>

  <p>
    <label>
      How old are you?<br />
      <select name="age">
        <option value="">Select</option>
        <option value="">-----------------</option>
        <option>Under 18</option>
        <option>18-29</option>
        <option>30-39</option>
        <option>40-49</option>
        <option>50-64</option>
        <option>65 and above</option>
        <option>Prefer not to answer</option>
      </select>
    </label>
  </p>

  <p>
    <label>
      Are you …?<br />
      <select name="gender">
        <option value="">Select</option>
        <option value="">-----------------</option>
        <option>Female</option>
        <option>Male</option>
        <option>Non-binary, transgender, prefer to self-describe</option>
        <option>Prefer not to answer</option>
      </select>
    </label>
  </p>

  <p class="action">
    <button type="submit">Submit</button>
  </p>

</form>
