
<form name="vote_survey" action="/vote/confirmation-survey/" method="post" data-netlify="true">

  <p>
    <label>
      How did you first find out about the My LA2050 Grants Challenge?<br />
      <select name="how_you_found_la2050">
        <option value="">Select</option>
        <option value="">-----------------</option>
        <option>LA2050 Newsletter</option>
        <option>Community group or organization</option>
        <option>Friends or family</option>
        <option>Professional network</option>
        <option>Social media</option>
        <option>News outlet</option>
        <option>Advertisements</option>
        <option>Events</option>
        <option value="Other">Other (please describe)</option>
      </select>
    </label>
    <br />
    <br />
    <label>
      Other <small>(please describe)</small><br />
      <input type="text" name="how_you_found_la2050_other" />
    </label>
  </p>
  
    <p>
    <label>
      How likely are you to volunteer for or donate to one of this year’s My LA2050 Grants Challenge finalist organizations?<br />
      <select name="how_likely_to">
        <option value="">Select</option>
        <option value="">-----------------</option>
        <option>Very likely</option>
        <option>Likely</option>
        <option>Neutral/Unsure</option>
        <option>Unlikely</option>
        <option>Very unlikely</option>
      </select>
    </label>
  </p>

  <p>
    <label>
      What would you most like to hear about from LA2050?<br />
      <input type="text" name="what_you_want_from_la2050_other" />
    </label>
  </p>

  <p class="action">
    <button type="submit">Submit</button>
  </p>

</form>
