
<form name="vote_survey" action="/vote/confirmation-survey/" method="post" data-netlify="true">

  <p>
    <label>
      How did you first find out about the My LA2050 Grants Challenge?<br />
      <select name="how_you_found_la2050">
        <option value="">Select</option>
        <option value="">-----------------</option>
        <option>LA2050 Newsletter</option>
        <option>Community group or organization</option>
        <option>Friends or family</option>
        <option>Professional network</option>
        <option>Social media</option>
        <option>News outlet</option>
        <option>Advertisements</option>
        <option>Events</option>
        <option value="Other">Other (please describe)</option>
      </select>
    </label>
    <br />
    <br />
    <label>
      Other <small>(please describe)</small><br />
      <input type="text" name="how_you_found_la2050_other" />
    </label>
  </p>
  
    <p>
    <label>
      How likely are you to volunteer for or donate to one of this year’s My LA2050 Grants Challenge finalist organizations?<br />
      <select name="how_likely_to">
        <option value="">Select</option>
        <option value="">-----------------</option>
        <option>Very likely</option>
        <option>Likely</option>
        <option>Neutral/Unsure</option>
        <option>Unlikely</option>
        <option>Very unlikely</option>
      </select>
    </label>
  </p>

   <p>
    <label>
      Are you familiar with the My LA2050 Ideas Archive? The Ideas Archive is a searchable database of 1,800+ past submissions to the My LA2050 Grants Challenge that can be used to discover organizations doing great work in our region, be inspired by their ideas, make direct donations, and find other ways to get involved.<br />
      <select name="ideas_archive">
        <option value="">Select</option>
        <option value="">-----------------</option>
        <option>Yes</option>
        <option>No</option>
      </select>
    </label>
  </p>
  
  <p>
    <label>
      What would you most like to hear about from LA2050?<br />
      <input type="text" name="what_you_want_from_la2050_other" />
    </label>
  </p>
  
   <p>
    <label>
      Which of the five LA2050 goal categories do you think Los Angeles has made the LEAST progress in over the past 10 years?<br />
      <select name="how_likely_to">
        <option value="">Select</option>
        <option value="">-----------------</option>
        <option>Making LA the best place to LIVE</option>
        <option>Making LA the best place to LEARN</option>
        <option>Making LA the best place to PLAY</option>
        <option>Making LA the best place to CREATE</option>
        <option>Making LA the best place to CONNECT</option>
      </select>
    </label>
  </p>
  
   <p>
    <label>
      Which of the five LA2050 goal categories do you think Los Angeles has made the MOST progress in over the past 10 years?<br />
      <select name="how_likely_to">
        <option value="">Select</option>
        <option value="">-----------------</option>
        <option>Making LA the best place to LIVE</option>
        <option>Making LA the best place to LEARN</option>
        <option>Making LA the best place to PLAY</option>
        <option>Making LA the best place to CREATE</option>
        <option>Making LA the best place to CONNECT</option>
      </select>
    </label>
  </p>

  <p class="action">
    <button type="submit">Submit</button>
  </p>

</form>
