

  /* =Office Hours
  ----------------------------------------------- */
  main dd + dt {
    margin-top: 1.5em;
  }
  main > p > em {
    color: inherit;
    font-weight: normal;
  }
  main dd {
    margin-left: 0;
  }
